$eggshell: rgb(255, 245, 238);
$eggshellTransparent: rgba(255, 245, 238, 0.6);

html, 
body {
    background: rgb(205, 42, 178);
    background: linear-gradient(319deg, rgba(205, 42, 178, 1) 0%, rgba(156, 78, 172, 1) 58%);
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1 0 auto;
}

.wrapper {
    width: 85%;
    max-width: 1080px;
    margin: 0 auto;
    
}

input {
    border: none;
    border-radius: 17px;
    padding: 1%;
    background-color: $eggshell;
    width: 400px;

        &::placeholder {
            font-family: $bodyFont;
            color: #a865c9;
            opacity: 0.8;
        }
}

button {
    background-color: $eggshellTransparent;
    border: none;
    border-radius: 17px;
    padding: 1% 5%;
    color: #4B0082;
}

h1 {
    animation: neonAnim 2s alternate-reverse infinite;
    font-family: $titleFont;
    color: $eggshell;
    font-size: 48px;
    text-align: center;

        @keyframes neonAnim {
                from {
                    text-shadow:
                        0 0 14px rgba(255, 245, 238, .7),
                        0 0 44px rgba(255, 245, 238, .7),
                        0 0 104px rgba(255, 245, 238, .7);
                }
        
                to {
                    text-shadow:
                        0 0 9px rgba(255, 245, 238, .7),
                        0 0 24px rgba(255, 245, 238, .7),
                        0 0 64px rgba(255, 245, 238, .7);
                }
            }
}

p {
    font-family: $bodyFont;
    color: $eggshell;
}

footer {
    background-color: #4B0082;
    flex-shrink: 0;

    p {
        margin: 0;
        padding: 10px 0;
        text-align: center;
    }

    a {
            color: #a865c9
        }
}

