$eggshell: white;
// $eggshell: rgb(255, 245, 238);
$eggshellTransparent: rgba(255, 245, 238, 0.6);
$darkText: #4B0082;
$lightText: #a865c9;

html, 
body {
    background: rgb(205, 42, 178);
    background: linear-gradient(319deg, rgba(205, 42, 178, 1) 0%, rgba(156, 78, 172, 1) 58%);
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 125%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main {
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1 0 auto;
}

.wrapper {
    width: 85%;
    max-width: 1080px;
    margin: 0 auto;
    
}

h1 {
    font-family: $titleFont;
    color: $eggshell;
    font-size: 2.4rem;
    text-align: center;
    text-transform: uppercase;
    text-shadow: #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
    padding-top: 10%;

}

h2 {
    color: $eggshell;
    font-size: 1.9rem;
    text-align: center;
    font-family: $headingFont;

    animation: neonAnim 2s alternate-reverse infinite;

        @keyframes neonAnim {
                from {
                    text-shadow:
                        0 0 14px rgba(255, 245, 238, .7),
                        0 0 44px rgba(255, 245, 238, .7),
                        0 0 104px rgba(255, 245, 238, .7);
                }
        
                to {
                    text-shadow:
                        0 0 9px rgba(255, 245, 238, .7),
                        0 0 24px rgba(255, 245, 238, .7),
                        0 0 64px rgba(255, 245, 238, .7);
                }
            }
}

p {
    font-family: $bodyFont;
    color: $eggshell;
    font-size: 1rem;
}


// ========================
// Main Form & Instructions

.submission {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: .8rem;

    p {
        font-size: .8rem;
    }

    form {
        margin: 1% 0 5% 0;
        display:flex;
        justify-content: center;

        button {
            margin-left: 2%;
        }
    }

    .surpriseMeBtn {
        margin: 1% 0 5% 0;
        padding: 1%;
    }
}

input {
    border: none;
    border-radius: 17px;
    padding-left: 2%;
    background-color: $eggshell;
    width: 400px;
    font-family: $bodyFont;

    &::placeholder {
        font-family: $bodyFont;
        color: $lightText;
        opacity: 0.8;
    }
}

button {
    background-color: $eggshellTransparent;
    border: none;
    border-radius: 17px;
    padding: 1% 5%;
    color: $darkText;
    font-family: $bodyFont;
    cursor: pointer;
}

// ===========================
// Responses from API Styling

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    h3 {
        margin-bottom: 5px;
        font-family: $secondaryHeading;
        // color: $eggshell;
        color: $eggshell;
        text-shadow: 0 0 10px $eggshell;
    }

    p {
        font-size: .8rem;
        margin: 2% 0;
        color: $darkText
    }

    li {
        background-color: $eggshellTransparent;
        box-shadow: 0 0 10px $eggshellTransparent;
        border-radius: 50px;
        display: flex;
        flex-direction: column;
        padding: 5%;
        margin: 20px 0;

        img {
            max-width: 70%;
            margin: 0 auto;
            border-radius: 100px;
        }

        h3,
        p {
            padding: 0 7%;
        }

        .emphasisText {
            color: #820078
        }
    }
}

// for toggling more button display
.displayNone {
    display: none;
}

.displayBtn {
    display:block;
}


// Pseudo code
    // add pointer to button to look more like a link
        // add hover and focus states to buttons



// ========================
// Footer


footer {
    background-color: $darkText;
    flex-shrink: 0;

    p {
        margin: 0;
        padding: 10px 0;
        text-align: center;
        font-size: 0.6rem;
    }

    a {
            color: $lightText;
        }
}

