$eggshell: rgb(255, 245, 238);
$eggshellTransparent: rgba(255, 245, 238, 0.6);
$darkText: #4B0082;
$lightText: #a865c9;

html, 
body {
    background: rgb(205, 42, 178);
    background: linear-gradient(319deg, rgba(205, 42, 178, 1) 0%, rgba(156, 78, 172, 1) 58%);
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 125%;
}

main {
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1 0 auto;
}

.wrapper {
    width: 85%;
    max-width: 1080px;
    margin: 0 auto;
    
}

input {
    border: none;
    border-radius: 17px;
    padding-left: 2%;
    background-color: $eggshell;
    width: 400px;
    font-family: $bodyFont;

        &::placeholder {
            font-family: $bodyFont;
            color: #a865c9;
            opacity: 0.8;
        }
}

button {
    background-color: $eggshellTransparent;
    border: none;
    border-radius: 17px;
    padding: 1% 5%;
    color: $darkText;
    font-family: $bodyFont;
}

h1 {
    font-family: $titleFont;
    color: $eggshell;
    font-size: 2.4rem;
    text-align: center;
    text-transform: uppercase;
    text-shadow: #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
    padding-top: 10%;

}

h2 {
    color: $eggshell;
    font-size: 1.9rem;
    text-align: center;
    font-family: $headingFont;

    animation: neonAnim 2s alternate-reverse infinite;

        @keyframes neonAnim {
                from {
                    text-shadow:
                        0 0 14px rgba(255, 245, 238, .7),
                        0 0 44px rgba(255, 245, 238, .7),
                        0 0 104px rgba(255, 245, 238, .7);
                }
        
                to {
                    text-shadow:
                        0 0 9px rgba(255, 245, 238, .7),
                        0 0 24px rgba(255, 245, 238, .7),
                        0 0 64px rgba(255, 245, 238, .7);
                }
            }
}

p {
    font-family: $bodyFont;
    color: $eggshell;
    font-size: 1rem;
}


// =============
// Main Form & Instructions

.submission {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: .8rem;

    p {
        font-size: .8rem;
    }

    form {
        margin: 1% 0 5% 0;
        display:flex;
        justify-content: center;

        button {
            margin-left: 2%;
        }
    }

    .surpriseMeBtn {
        margin: 1% 0 5% 0;
        padding: 2%;
    }
}


footer {
    background-color: $darkText;
    flex-shrink: 0;

    p {
        margin: 0;
        padding: 10px 0;
        text-align: center;
        font-size: 0.6rem;
    }

    a {
            color: $lightText;
        }
}

