@media (min-width: 800px) {
    
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        li {
            width: calc(50% - (10px));
            margin: 20px auto;
        }
    }
};


@media (max-width: 507px) {

    ul {
        li {
            img {
                max-width: 80%;
                }
            }
    }
    
};