@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@300&family=Fira+Sans:wght@600&family=Oleo+Script&display=swap');

$titleFont:'Oleo Script', cursive;
$headingFont:'Fira Sans', sans-serif;
$bodyFont: 'Biryani', sans-serif;
