@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@300&family=Fira+Sans&family=Lora:ital@1&family=Oleo+Script&display=swap');

$titleFont:'Oleo Script', cursive;
$headingFont:'Fira Sans', sans-serif;
$secondaryHeading: 'Lora', serif;
$bodyFont: 'Biryani', sans-serif;
