@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Oxygen&family=Pacifico&display=swap');

$titleFont: 'Pacifico', cursive;
$headingFont:'Courgette',cursive;
$bodyFont: 'Oxygen', sans-serif;
